section{
  padding: 1rem;
}
  #container{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "verde verde verde"
    "giallo rosso blu"
    "arancione arancione blu";
  }
  .numbers{
    margin: 1rem;
    padding: 0px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 20%);
    grid-template-rows: repeat(2, 15%);
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
  }
.numbers > div {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1rem;

}

  #green {
    order: 1;
    background-color: #8ffda7;
    grid-area: verde;
  }
  #orange {
    background-color: #ffc788;
    order: 5;
    grid-area: arancione;
  }
  #yellow {
    background-color: #ffff92;
    order: 2;
    grid-area: giallo;
  }
  #red {
    background-color: #ff919c;
    order: 3;
    grid-area: rosso;
  }
  
  #blue {
    background-color: #98d2ff;
    order: 4;
    grid-area: blu;
   
  }

  ul {
    padding: 0;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
  }
  