:root{
    font-family: Arial, Helvetica, sans-serif;
    --max-width: 30vw;
    --max-height: 50vw;
    --min-width: 15vw;
    --min-height: 25vw;
   }
   body{
    display: flex;
    flex-direction: row;
    gap: 1em;
   }

   div {
    font-size: 1.7vw;
    border: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
  }
  .card{
    max-width: var(--max-height);
    max-height: var(--max-height);
    min-width: var(--min-width);
    min-height: var(--min-height);
    display: flex;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr 3fr 1fr 2fr 1fr;
    background: rgb(142,140,140);
    background: linear-gradient(180deg, rgba(142,140,140,1) 0%, rgba(214,214,214,1) 35%, rgba(242,242,242,1) 100%);
    border-radius: 19px;
  }
  

.userdata {

    display: flex;
    flex-direction: row;
    height: 10%;
    margin: .2rem;

}
.userdata>div { 
    height: 100%;
    flex: 1; 
}
.profilepic {
    max-width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

#profilepicpreview {

    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 19px;

}
.username {
    max-width: 65%;
    padding: 5px;
}

#nameofuser {
    padding-bottom: .5rem;
    font-size: 1em;
    font-weight: lighter;
}
#dateposted {

    padding-bottom: .5rem;
    font-size: .5em;
    color: white;
}
.hamburger {
    font-weight: bold;
    font-size: 20px;
    max-width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.hamburger>div {
    max-height: 50%;
    flex: 1;
}
   #image{
    grid-column: span 4;
    justify-content: center;
   }
    img{
   width: 100% ;
   height: 100%;
        }
    #cardtitle{
    padding: 10px;
    grid-column: span 4;
}
p{
    text-align: justify;
    margin: 0;
}
#icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    padding-top: .5rem;
    padding-left: .8rem;
    margin: .5rem;
}
#heart{
    margin-right: .6rem;
}
#text{
    display: inline;
    padding: 1rem;
    grid-column: span 4;
    text-align: justify;
    
}
#footer{
    display: flex;
    flex-direction: row;
    padding: 2px;
    grid-column: span 1; 
}
h2{
    margin: 0;
}

@media (min-width: 375px) {

    .container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        
    }
  
}

@media (max-width: 768px ) {

    .container {
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        
    }
 
}