#sidebar{
    width: 200px;
    height: 100vh;
    border: 2px solid orchid;
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 207, 207);
    justify-content: center;
}
div{
    display: flex;
    justify-content: center;
    
}
figcaption{
     display: flex;
     justify-content: center;
}
#logo{
    width: 56px;
    height: 56px;
}
#head{
    border: 0px solid orchid; 
    
}
#body{
    display: flex;
    justify-content: center;
    border: 0px solid orchid;
    flex: 1; 
}
ul{
    position: absolute;
    list-style-type: none;
    color: #2b2b2b;
    
}
#footer{
    border: 0px solid orchid;
}
#avatarpic{
    width: 56px;
    height: 56px;
}


