#sidebar{
    width: 200px;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    justify-content: center;
}
div{
    display: flex;
    justify-content: center;
}
figcaption{
     display: flex;
     justify-content: center;
}
#head{
    border: 2px solid green; 
    
}
#body{
    border: 2px solid blue;
    flex: 1;
}
#footer{
    border: 2px solid orchid;
}
#avatarpic{
    
    width: 56px;
    height: 56px;
}


