:root{
    --bodybackgroundcolor:#011212;

    --ballbackgroundcolor:#ff8800;
    --ballwidth: 100px;
    --ballheight: 100px;
    --ballborderradius: 50px;
}
body {
    background-color: var(--bodybackgroundcolor);
}

.ball {
    width: var(--ballwidth);
    height: var(--ballheight);
    background-color:var(--ballbackgroundcolor);
    border-radius: var(--ballborderradius);
}
